/* styles.css */

/* Navbar styling */
.navbar {
  background-image: linear-gradient(to right, #fc98a0f5, #fba652);
}

.navbar-brand {
  color: #fff; /* White text */
}

/* Carousel jumbotron styling */
.carousel-inner {
  background-image: linear-gradient(to right, #fc98a0f5, #fba652);
  color: #fff; /* White text */
}

/* styles.css */

/* Navbar styling */
.navbar {
  background-image: linear-gradient(to right, #ff6f7c, #ffbd67);
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-brand {
  color: #fff; /* White text */
}

/* Carousel jumbotron styling */
.carousel-inner {
  background-image: linear-gradient(to right, #ff6f7c, #ffbd67);
  color: #fff; /* White text */
  height: 91vh; /* Set height to 50% of viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-caption {
  width: 100%; /* Ensure the caption spans the entire width */
  text-align: center;
}

.carousel-caption h1 {
  font-size: 2.5rem; /* Adjust font size for the title */
}

.carousel-caption .btn {
  margin-top: 20px; /* Add some space between the title and button */
}

